# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# If you connect with local TiDB cluster, setup the DATABASE_URL variable as the following format.
#
# DATABASE_URL="mysql://<user>:<password>@<host>:<port>/<database>"
#
# For example:
#
DATABASE_URL="mysql://root@localhost:4000/test"

# If you connect with TiDB Serverless cluster, you MUST to add `sslaccept=strict` to the end of the connection string.
#
# DATABASE_URL="mysql://<user>:<password>@<host>:<port>/<database>?sslaccept=strict
